.grid__wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
  height: 100vh;
}

.grid__element {
  background-color: #d57f70;
}
